.copy-code-wrapper {
    position: relative;

    /* so that, the copy-message, can magically resize to cover ONLY the text area;
    if we leave the wrapper "block" display, then, it will fill the entire screen width,
     else it will resize to fit the biggest child (i.e. textarea) */
    display: inline-block;
}
.copy-code-wrapper textarea {
    width: 400px;
    min-height: 150px;
}

.copy-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.8);
}

.embed .embed-editor {
    margin-left: 20px;
}
