* {
    margin: 0;
    box-sizing: border-box;
}

div, p {
    margin: 2px 0;
    padding: 1px;
}
span, div, p {
    font-family: Verdana, sans-serif;
}
div div {
    margin-left: 5px;
}

h1, h2, h3, h4, h5 {
    margin: 5px 0;
    padding: 1px;
}

.text-length-measurable {
    display: inline-block;
    padding: 0 10px;
}

input {
    font-family: Verdana, sans-serif;
    line-height: 1;
    font-size: inherit;
}
h2 > input, h3 > input, h4 > input {
    font-size: inherit;
}

.projects {

}
.projects .link {
    text-decoration: underline;
    cursor: pointer;
}

.projects .project.current {
    background: rgb(191, 245, 116);
    font-weight: bold;
}

.measure-text-length-offpage {
    position: fixed;
    top: -1000vh;
    left: -1000vw;
}

.spinning-loader {
    display: block;
    height: 20px;
    width: 20px;
    border: 4px dotted grey;
    border-radius: 10px;
    animation-name: spinningLoaderSpin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes spinningLoaderSpin {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}