.mapboxgl-ctrl-top-left,
.mapboxgl-ctrl-top-right,
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right,
.mapboxgl-compact {
    display: none;
}

.map-container-outer {
    margin: 10px;
}

.map-container-outer div {
    margin: 0;
    padding: 0;
}